{% extends "base_generic.html" %}
{% block content %}
    <div class="container d-flex align-items-center justify-content-center min-vh-100">
        <div class="card p-4 w-100" style="max-width: 500px; min-height: 600px;">
            <h2 class="text-center mb-4 text-danger">Вход в личный кабинет</h2>

            <form method="post" class="mt-4">
                {% csrf_token %}
                
                {% if messages %}
                    {% for message in messages %}
                        {% if 'error' in message.tags %}
                            <div class="alert alert-danger mb-3">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <div class="mb-3">
                    <label class="form-label">Логин</label>
                    <input type="text" name="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Пароль</label>
                    <input type="password" name="password" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-danger w-100 mb-3">Войти</button>
            </form>

            <p class="text-center mb-0">
                <a href="{% url 'register' %}" class="text-decoration-none text-danger">Зарегистрироваться</a>
            </p>
        </div>
    </div>
{%endblock%}