<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница - Design.pro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>
    <header>
        <div class="navbar shadow-sm">
                <div class="container-fluid">
                    <a class="navbar-brand fw-bold fs-3" href="{% url 'index'%}">
                        Design<span class="text-danger">.pro</span>
                    </a>
                    {% if user.is_authenticated and user.is_superuser %}
                        <nav class="d-flex align-items-center gap-3">
                            <a class="nav-link fw-medium text-dark" href="{% url 'admin_applications'%}">Управление заявками</a>
                            <a class="btn btn-outline-danger rounded-pill px-4 fw-medium" href="{% url 'logout' %}">Выйти</a>
                        </nav>
                    {% elif user.is_authenticated %}
                        <nav class="d-flex align-items-center gap-3">
                            <a class="nav-link fw-medium text-dark" href="{% url 'create_application'%}">Создание заявки</a>
                            <a class="nav-link fw-medium text-dark" href="{%url 'user_application'%}">Мои заявки</a>
                            <a class="btn btn-outline-danger rounded-pill px-4 fw-medium" href="{% url 'logout' %}">Выйти</a>
                        </nav>
                    {% endif %}
                </div>
            </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="footer text-center">
        <div class="container">
            <span class="text-muted">&copy; 2025 Design.pro - Портал дизайна интерьеров</span>
        </div>
    </footer>

</body>
</html>